@media (max-width: 1440px) {
    .def-delivery__block-items-photo {
        width: 100%;
    }
}
@media (max-width: 1400px) {
    .def-header__block-list {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-items: center;
    }
    .def-header__block-items {
        width: 100%;
    }
    .def-list__block {
        flex-direction: column;
    }
    .def-list__block-items-text {
        width: 90%;
    }
    .def-content__block-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .def-content__block-lists {
        grid-template-columns: repeat(1, 1fr);
    }
    .def-content__block-list-items {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 90px 28px 90px 28px;
    }
    .def-content__block-lists-items {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 90px 28px 90px 28px;
    }
    .def-content__block-lists-items p {
        width: 80%;
    }
    .def-content__block-list-items p {
        width: 80%;
    }
}
@media (max-width: 1350px) {
    .def-delivery__block-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .def-service__block-line::after {
        width: 90%;
    }
    .def-service__block-banner-text {
        width: 90%;
    }
    .def-delivery__block-add {
        width: 100%;
    }
    .def-delivery__block-text {
        width: 100%;
    }
    .def-delivery__block-line::after {
        width: 90%;
    }
    .def-header__block-text {
        width: 100%;
    }
    .def-header__block-description {
        width: 100%;
    }
    .def-delivery__block-title {
        padding: 0 30px;
    }
}
@media (max-width: 1200px) {
    .def-content__block-description {
        width: 100%;
    }
    .def-service__block-wrapper:nth-child(odd),
    .def-service__block-wrapper:nth-child(even) {
        flex-direction: column;
    }
    .def-service__block-wrapper-photo {
        width: 100%;
        z-index: 5;
    }
    .def-service__block-wrapper-text {
        font-family: TT Norms;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        line-height: 50px;
        width: 572px;
        margin: 35px 90px 55px 90px;
        text-transform: uppercase;
        color: #fff;
    }
    .def-service__block-wrapper:nth-child(odd) .def-service__block-wrapper-icons,
    .def-service__block-wrapper:nth-child(even) .def-service__block-wrapper-icons {
        position: absolute;
        right: 50px;
        bottom: auto;
        top: 5%;
        left: auto;
        z-index: 1;
        & svg {
            width: 300px;
        }
    }
}
@media (max-width: 1050px) {
    .def-service__block-title {
        padding: 0 30px;
    }
    .def-delivery .containers {
        padding: 0 30px;
    }
    .def-delivery__block-line::after {
        width: 90%;
    }
    .def-service__block-line::after {
        width: 90%;
    }
    .def-header .containers {
        padding: 0 30px;
    }
    .def-list__block-items {
        position: relative;
        width: 100%;
        height: 464px;
        padding: 61px 0 0 35px;
        background: #003169;
    }
    .def-content .containers {
        padding: 0;
    }
    .def-content__block-text {
        width: 100%;
        padding: 0 30px;
    }
    .def-content__block-description {
        padding: 0 30px;
        width: 100%;
    }
    .def-content__block-banners p {
        width: 90%;
    }
    .def-service .containers {
        padding: 0;
    }
    .def-service__block-text {
        width: 100%;
        padding: 0 30px;
    }
    .def-service__block-titles {
        width: 100%;
        padding: 0 30px;
    }
}
@media (max-width: 900px) {
    .def-header__block-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .def-header__block-items-text p {
        width: 90%;
    }
    .def-delivery__block-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .def-delivery__block-banners {
        display: none;
    }
    .def-content__block-table-banner {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .def-content__block-table {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 30px;
    }
    .def-service__block-wrapper-text {
        font-family: TT Norms;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        line-height: 50px;
        width: 572px;
        margin: 35px 30px 55px 30px;
        text-transform: uppercase;
        color: #fff;
    }
    .def-service__block-line::after {
        width: 100%;
    }
}
@media (max-width: 750px) {
    .def-service__block-wrapper-text {
        font-family: TT Norms;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        line-height: 50px;
        width: 100%;
        padding: 35px 30px 100px 30px;
        margin: 0;
        text-transform: uppercase;
        color: #fff;
    }
    .def-service__block-wrapper:nth-child(even) .def-service__block-wrapper-icons, .def-service__block-wrapper:nth-child(odd) .def-service__block-wrapper-icons {
        position: absolute;
        z-index: 1;
        top: -5%;
        right: 50px;
        bottom: auto;
        left: auto;
    }
    .def-content__block-table-banner {
        & svg {
            width: 200px;
        }
    }
}
@media (max-width: 500px) {
    .def-header__banners-items:nth-child(2) {
        z-index: 5;
        top: 625px;
        right: 0;
        width: 808px;
        height: 481px;
    }
    .def-header__block-list {
        margin: 350px 0 0 0;
    }
    .def-delivery__block-banner {
        background-position: 50% 0;
    }
    .def-delivery__block-titles,
    .def-delivery__block-text {
        display: none;
    }
    .def-delivery__block-list {
        margin: 230px 0 0 0;
    }
    .def-delivery__block::after {
        background-position: 50% 0;
    }
    .def-service__block-text {
        font-size: 18px;
    }
    .def-service__block-titles {
        font-family: RF Dewi;
        font-size: 21px;
    }
    .def-content__block-banners p {
        font-size: 15px;
    }
    .def-content__block-description {
        font-size: 19px;
    }
    .def-content__block-text {
        font-size: 19px;
    }
    .def-header__block-text {
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .def-delivery__block-items {
        width: 100%;
    }
    .def-delivery__block-items-photo {
        width: 100%;
    }
    .def-delivery__block-items-text p {
        font-size: 16px;
    }
}