@media (min-width: 1440px) {
    .header__nav-logo {
        margin: 0;
        position: absolute;
        top: 12px;
        left: 32px;
    }
    .header__nav-list {
        margin: 0 auto;
    }
}
@media (max-width: 1420px) {
    .menu__contact {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        left: 32%;
        position: static;
        transform: none;
    }
    .menu__contact-items {
        margin: 5px 0 10px 0;
    }
    .menu {
        flex-direction: column;
    }
    .menu__contact {
        width: 700px;
    }
}
@media (max-width: 900px) {
    .modelReward__wrapper-items {
        width: 50%;
    }
}
@media (max-width: 500px) {
    .modelReward__wrapper .swiper-button-next {
        right: 0%;
    }
    .modelReward__wrapper .swiper-button-prev {
        left: 0%;
    }
    .modelReward__wrapper .swiper-button-next svg {
        width: 40px;
    }
    .modelReward__wrapper .swiper-button-prev svg {
        width: 40px;
    }
    .modelReward__wrapper-items {
        width: 60%;
    }
}
@media (max-width: 950px) {
    .menu__block-list-items-sliders .swiper-button-next,
    .menu__block-list-items-sliders .swiper-button-prev {
        display: none;
    }
    .menu__block-list-items-sliders .swiper-pagination {
        display: block;
        bottom: -30px;
    }
    .menu__block-list-items-sliders {
        padding: 10px 0 30px 0;
    }
    .menu__block {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        width: 711px;
    }
    .swiper-pagination-bullet {
        background: rgb(0,89,184);
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #fff;
    }
}
@media (max-width: 950px) and (max-height: 680px) {
    .menu__block-list-items {
        margin: 0 0 15px 0;
    }
    .menu__block {
        margin: 15px 0 0 0;
    }
}
@media (max-width: 950px) and (max-height: 620px) {
    .menu__block-list-items {
        margin: 0 0 15px 0;
    }
    .menu__block {
        margin: 85px 0 0 0;
    }
}
@media (max-width: 850px) {
    .modelCompanyCollection__wrapper-items {
        width: 100%;
    }
    .modelCompanyTex__wrapper-items {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .menu__block {
        width: 100%;
        padding: 0 30px;
    }
    .menu__contact {
        width: 100%;
        padding: 0 30px;
    }
    .menu__logo {
        left: 30px;
    }
    .menu__block-contact {
        left: 30px;
    }
    .menu__block-contact {
        position: static;
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .menu__block-contact-items {
        margin: 10px 0;
    }
}
// @media (max-height: 620px) {
//     .menu__block {
//         height: 100%;
//         padding: 65px 30px;
//     }
//     .menu {
//         height: 100%;
//     }
// }
@media (max-width: 600px) {
    .menu__contact {
        margin: 0;
    }
    .menu__block-list-items-sliders {
        display: none;
    }
    .menu__block-list-items-content-element a {
        font-size: 10px !important;
    }
}
@media (max-width: 600px) and (max-height: 750px) {
    .menu__block-list {
        margin: 55px 0 0 0;
    }
}
@media (max-width: 500px) {
    .menu__block-list-items-text p {
        font-size: 17px;
    }
    .menu__block-list-items a {
        font-size: 17px;
    }
    .menu__block-list-items-sliders-element {
        width: 300px;
    }
    .sliders__block-slider-items-text {
        opacity: 1;
    }
    .footer__wrapper-lists {
        padding: 0 0 45px 0;
        align-items: center;
        text-align: center;
    }
    .footer__wrapper-list {
        width: 100%;
    }
    .footer__wrapper-list-itemr {
        margin: 0 auto;
    }
    .footer__wrapper-list-title {
        display: none;
    }
}


