header.header
        .header__nav.wow.fadeIn.animated(data-wow-delay="0.8s")
                .header__nav-wrapper 
                    .header__nav-logo.wow.fadeInDown.animated(data-wow-delay="1.0s")
                        a(href="index.html")
                            img(src="./svg/index/lg.svg", alt="logo")
                    ul.header__nav-list.wow.fadeInDown.animated(data-wow-delay="1.4s")
                        li.header__nav-list-items 
                            a(href="company.html") О компании
                        li.header__nav-list-items 
                            a(href="deflation.html") Направление  деятельности
                        li.header__nav-list-items 
                            a(href="objects.html") Наши объекты
                        li.header__nav-list-items 
                            a(href="contact.html") КОНТАКТЫ
                        li.header__nav-list-items 
                            a(href="new.html") ПРЕСС-ЦЕНТР
    .header__nav-burger#menu-open.wow.fadeInDown.animated(data-wow-delay="1.8s")
        <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="17" x2="15" y2="17" stroke="#002C5B" stroke-width="2"/>
            <line y1="9" x2="15" y2="9" stroke="#002C5B" stroke-width="2"/>
            <line x1="7" y1="1" x2="15" y2="1" stroke="#002C5B" stroke-width="2"/>
        </svg>