    section.process
            .containers 
                .process__block 
                    .process__block-title.wow.fadeInDown.animated(data-wow-delay="0.8s") ПРеСС-ЦЕНТР
                    ul.process__block-tabs
                        li.process__block-tabs-items#indexProcessTabs-1.process__block-tabs-active.wow.fadeInDown.animated(data-wow-delay="1s")
                            p Все публикации
                        li.process__block-tabs-items#indexProcessTabs-2.wow.fadeInDown.animated(data-wow-delay="1.2s")
                            p Новости
                        li.process__block-tabs-items#indexProcessTabs-3.wow.fadeInDown.animated(data-wow-delay="1.4s")
                            p Пресс релизы
                        li.process__block-tabs-items#indexProcessTabs-4.wow.fadeInDown.animated(data-wow-delay="1.6s")
                            p СМИ о нас
                    .process__block-line.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                    ul.process__block-list#indexProcessTabsList-1
                        a.process__block-list-items(href="detail.html").wow.fadeInUp.animated(data-wow-delay="0.8s")
                            .process__block-list-items-img 
                                img(src="./img/index/process-1.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Завершено выполнение комплекса работ
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html").wow.fadeInUp.animated(data-wow-delay="1s")
                            .process__block-list-items-img 
                                img(src="./img/index/process-2.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title АО "СО ЕЭС" завершило испытания  для включения в работу ВЛ 500 кВ Донская
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                            .process__block-list-items-img 
                                img(src="./img/index/process-3.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                    ul.process__block-list.display-n#indexProcessTabsList-2
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-1.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Завершено выполнение комплекса работ
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-2.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title АО "СО ЕЭС" завершило испытания  для включения в работу ВЛ 500 кВ Донская
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-3.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                    ul.process__block-list.display-n#indexProcessTabsList-3
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-3.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Завершено выполнение комплекса работ
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-3.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title АО "СО ЕЭС" завершило испытания  для включения в работу ВЛ 500 кВ Донская
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-1.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-2.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-2.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                    ul.process__block-list.display-n#indexProcessTabsList-4
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-1.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Завершено выполнение комплекса работ
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-2.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title АО "СО ЕЭС" завершило испытания  для включения в работу ВЛ 500 кВ Донская
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости
                        a.process__block-list-items(href="detail.html")
                            .process__block-list-items-img 
                                img(src="./img/index/process-3.png", alt="img")
                            .process__block-list-items-text
                                .process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                                .process__block-list-items-text-add 
                                    h3 11 декабря 2021
                                    p Новости