block variables
    - var title = 'О компании'

@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.comp-header 
        .comp-header__block 
            .containers 
                .comp-header__block-title.wow.fadeInUp.animated(data-wow-delay="0.8s") О компании: 
                .comp-header__block-text.wow.fadeInUp.animated(data-wow-delay="1.2s") За более чем 10 лет работы в отрасли строительства инфраструктуры энергосетевого комплекса Российской Федерации, ООО «ЛЭМ» стало одним из ее лидеров. Зная сферу электроэнергетики изнутри не один десяток лет, менеджмент и персонал компании успешно выполнили множество задач высочайшего уровня сложности и ответственности.
            .comp-header__block-banner 
                img(src="./img/company/banner.png", alt="img")

    section.comp-text
            .containers 
                p.comp-text__wrapper Все профильные виды работ ООО «ЛЭМ» выполняет собственными силами, без привлечения субподрядных организаций, что позволяет значительно сократить время на мобилизацию персонала, спецтехники и повышает качество выполняемых работ. Для этого у компании есть все необходимое – от штата квалифицированных специалистов до парка современной спецтехники.


    section.comp-photo 
        .comp-photo__block.wow.fadeInDown.animated(data-wow-delay="0.8s") 
            img(src="./img/index/bg.png", alt="img")

    section.comp-report 
        .comp-report__banner 
            img(src="./img/company/report.png", alt="img")
        .comp-report__block 
            .containers
                .comp-report__block-title.wow.fadeInLeft.animated(data-wow-delay="0.8s") Основное ПОДРАЗДЕЛЕНИЕ (г. МОСКВА)
                .comp-report__block-content.wow.fadeIn.animated(data-wow-delay="1s")
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-1.png", alt="img")
                        .comp-report__block-items-text
                            h3
                            p Строительно-монтажные работы на ПС 10-750 кВ;
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-1.png", alt="img")
                        .comp-report__block-items-text
                            h3
                            p Монтаж металлоконструкций, ошиновки и кабельных сетей;
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-2.png", alt="img")
                        .comp-report__block-items-text
                            h3 880
                            p человек производственный персонал
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-1.png", alt="img")
                        .comp-report__block-items-text
                            h3
                            p Монтаж и наладка высоковольтного оборудования, РЗА, ПА, систем связи 
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-3.png", alt="img")
                        .comp-report__block-items-text
                            h3
                            p Общестроительные 
                                br
                                | работы.
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-4.png", alt="img")
                        .comp-report__block-items-text
                            h3 326
                            p единиц спецтехники
        .comp-report__block 
            .containers
                .comp-report__block-title.wow.fadeInLeft.animated(data-wow-delay="0.8s") Филиал (г. Санкт-Петербург)
                .comp-report__block-content.wow.fadeIn.animated(data-wow-delay="1s") 
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-1.png", alt="img")
                        .comp-report__block-items-text
                            h3
                            p Строительство ВЛ и КЛ 10-750 кВ;
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-1.png", alt="img")
                        .comp-report__block-items-text
                            h3
                            p Работы по строительству ВОЛС;
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-2.png", alt="img")
                        .comp-report__block-items-text
                            h3 600
                            p человек производственный персонал
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-1.png", alt="img")
                        .comp-report__block-items-text
                            h3
                            p Монтажные работы 
                                br
                                | на ПС 10-750 кВ;
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-3.png", alt="img")
                        .comp-report__block-items-text
                            h3
                            p Общестроительные работы.
                    .comp-report__block-items 
                        .comp-report__block-items-icons
                        
                            img(src="./img/company/icons-4.png", alt="img")
                        .comp-report__block-items-text
                            h3 156
                            p единиц спецтехники
        .comp-report__wrapper 
            .containers
                .comp-report__wrapper-title.wow.fadeInLeft.animated(data-wow-delay="0.8s") ПРОеКТНЫЕ ПОДРАЗДЕЛЕНИЯ
                .comp-report__wrapper-content.wow.fadeIn.animated(data-wow-delay="1s")
                    .comp-report__wrapper-items 
                        .comp-report__wrapper-items-titles Дирекция по проектированию (г. ЧЕБОКСАРЫ)
                        .comp-report__wrapper-items-circle 
                            p 71
                        .comp-report__wrapper-items-text 
                            img(src="./img/company/icons-2.png", alt="img")
                            p человек инженерно-технический персонал
                    .comp-report__wrapper-items 
                        .comp-report__wrapper-items-titles Дирекция по проектированию (г. Ростов-на-Дону)
                        .comp-report__wrapper-items-circle 
                            p 67
                        .comp-report__wrapper-items-text 
                            img(src="./img/company/icons-2.png", alt="img")
                            p человек инженерно-технический персонал
                    .comp-report__wrapper-items 
                        .comp-report__wrapper-items-titles Дирекция по проектированию (г. Санкт-Петербург)
                        .comp-report__wrapper-items-circle 
                            p 33
                        .comp-report__wrapper-items-text 
                            img(src="./img/company/icons-2.png", alt="img")
                            p человек инженерно-технический персонал
                    .comp-report__wrapper-items 
                        .comp-report__wrapper-items-titles Дирекция по проектированию (г. Тула)
                        .comp-report__wrapper-items-circle 
                            p 32
                        .comp-report__wrapper-items-text 
                            img(src="./img/company/icons-2.png", alt="img")
                            p человек инженерно-технический персонал
                .comp-report__wrapper-add.wow.fadeInLeft.animated(data-wow-delay="0.8s") Подразделение по производству НТУ и оборудования вторичной коммутации в г. Чебоксары – 27 человек.  

    section.comp-support 
        .comp-support__text 
            .containers 
                .comp-support__text-title.wow.fadeInLeft.animated(data-wow-delay="0.8s" ) Опора на собственные силы - фактор, который позволяет нам реализовывать проекты любой сложности в кратчайшие сроки:
        .comp-support__block 
            .comp-support__block-items.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                .comp-support__block-items-banner 
                    img(src="./img/company/support-1.png", alt="img")
                .containers 
                    .comp-support__block-items-text В рекордные сроки была возведенавоздушная линия электропередач 500 кВ от Ростовской АЭС до подстанции 500 кВ "Ростовская".
                    .comp-support__block-items-line 
                    .comp-support__block-items-add.opacity
                        h3 Трансформаторная мощность:
                        p 1700 
                            span МВА
                    .comp-support__block-items-add 
                        h3 Протяженность:
                        p 297 
                            span км
                    .comp-support__block-items-add 
                        h3 Срок строительства:
                        p 11 
                            span месяцев
            .comp-support__block-items.wow.fadeInRight.animated(data-wow-delay="0.8s")
                .comp-support__block-items-banner 
                    img(src="./img/company/support-2.png", alt="img")
                .containers 
                    .comp-support__block-items-text Менее чем за год были полностью построены подстанция 500 кВ "Тамань", а также две 2х цепные высоковольтные линии 220 кВ ПС 500 кВ "Тамань – Кафа".
                    .comp-support__block-items-line 
                    .comp-support__block-items-add 
                        h3 Трансформаторная мощность:
                        p 1700 
                            span МВА
                    .comp-support__block-items-add 
                        h3 Протяженность:
                        p 114 
                            span км
                    .comp-support__block-items-add 
                        h3 Срок строительства:
                        p 9  
                            span месяцев

    section.comp-scheme
        .containers 
            .comp-scheme__block 
                .comp-scheme__block-title.wow.fadeInLeft.animated(data-wow-delay="0.8s") СХЕМА НАШЕЙ РАБОТЫ
                .comp-scheme__block-text.wow.fadeInLeft.animated(data-wow-delay="0.8s") ООО «ЛЭМ» также выполняет инжиниринговую работу, осуществляя управление строительством как одиночных, так и комплексных объектов с различным инфраструктурным составом.
                ul.comp-scheme__block-list
                    li.comp-scheme__block-items.wow.fadeInUp.animated(data-wow-delay="1s")  
                        .comp-scheme__block-items-count 1
                        .comp-scheme__block-items-text Проектирование объектов и согласование документации в надзорных органах
                    li.comp-scheme__block-items.wow.fadeInUp.animated(data-wow-delay="1.3s")
                        .comp-scheme__block-items-count 2
                        .comp-scheme__block-items-text Поставка необходимого оборудования и материалов
                    li.comp-scheme__block-items.wow.fadeInUp.animated(data-wow-delay="1.6s")
                        .comp-scheme__block-items-count 3
                        .comp-scheme__block-items-text Строительство объектов электроэнергетики и инфраструктуры, их наладка и запуск

    section.comp-add 
        .comp-add__block 
            .comp-add__block-banner.wow.fadeInRight.animated(data-wow-delay="0.8s")
                <svg width="464" height="393" viewBox="0 0 464 393" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M33.8636 392.999H113.564L117.368 364.481L0 348.951L33.8636 392.999ZM179.116 392.999H267.95L269.085 384.537L181.785 372.996L179.116 392.999V392.999ZM324.426 392.999H400.533L408.623 332.409L333.818 322.509L324.426 392.999ZM464 344.924V340.613L463.431 344.849L464 344.924ZM464 249.338V195.028L422.467 189.535L410.864 276.466L425.819 278.447L464 249.338ZM464 129.763V31.1667L446.596 8.53036L431.009 125.402L464.001 129.763H464ZM277.658 320.278L279.643 305.387L203.927 206.918L190.35 308.724L277.658 320.278ZM8.56761 284.699L125.941 300.219L141.524 183.346L8.56761 284.699ZM249.109 101.346L366.471 116.867L382.068 0.00012207L249.109 101.346ZM255.678 167.478L331.388 265.947L346.329 267.935L357.92 181.009L255.679 167.478H255.678Z" fill="#193967"/>
                </svg>
            .containers 
                .comp-add__block-icons.wow.fadeInDown.animated(data-wow-delay="0.8s")
                    img(src="./img/company/icon-1.png", alt="img")
                .comp-add__block-text.wow.fadeInDown.animated(data-wow-delay="1s") ОПЫТ И РЕПУТАЦИЯ, ПОДТВЕРЖДЕННЫЕ УЧАСТИЕМ В ПРОЕКТАХ ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ
                .comp-add__block-icons.wow.fadeInDown.animated(data-wow-delay="0.8s")
                    img(src="./img/company/icon-2.png", alt="img")
                .comp-add__block-text.wow.fadeInDown.animated(data-wow-delay="1s") КОМПЛЕКС УСЛУГ «ПОД КЛЮЧ»: ОТ ПРОЕКТИРОВАНИЯ ДО ИНЖИНИРИНГА И ЗАПУСКА ИНФРАСТРУКТУРЫ
                .comp-add__block-icons.wow.fadeInDown.animated(data-wow-delay="0.8s")
                    img(src="./img/company/icon-3.png", alt="img")
                .comp-add__block-text.wow.fadeInDown.animated(data-wow-delay="1s") НАЛИЧИЕ ДЕЙСТВУЮЩИХ ДОПУСКОВ СРО НА СТРОИТЕЛЬСТВО, ПРОЕКТИРОВАНИЕ И ИЗЫСКАТЕЛЬСКИЕ РАБОТЫ, ЛИЦЕНЗИИ МЧС
        .comp-add__company 
            .containers 
                ul.comp-add__company-table.wow.fadeInDown.animated(data-wow-delay="0.8s")
                    li.comp-add__company-table-items 
                        img(src="./img/company/add-company-1.png", alt="img")
                    li.comp-add__company-table-items 
                        img(src="./img/company/add-company-2.png", alt="img")
                    li.comp-add__company-table-items 
                        h3 Сертификация по
                        p ISO 9001:2008
                    li.comp-add__company-table-items 
                        h3 Сертификация по
                        p ISO 14001 И OHSAS 18001
        .comp-add__block 
            .comp-add__block-banner.wow.fadeInRight.animated(data-wow-delay="0.8s")
                <svg width="464" height="393" viewBox="0 0 464 393" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M33.8636 392.999H113.564L117.368 364.481L0 348.951L33.8636 392.999ZM179.116 392.999H267.95L269.085 384.537L181.785 372.996L179.116 392.999V392.999ZM324.426 392.999H400.533L408.623 332.409L333.818 322.509L324.426 392.999ZM464 344.924V340.613L463.431 344.849L464 344.924ZM464 249.338V195.028L422.467 189.535L410.864 276.466L425.819 278.447L464 249.338ZM464 129.763V31.1667L446.596 8.53036L431.009 125.402L464.001 129.763H464ZM277.658 320.278L279.643 305.387L203.927 206.918L190.35 308.724L277.658 320.278ZM8.56761 284.699L125.941 300.219L141.524 183.346L8.56761 284.699ZM249.109 101.346L366.471 116.867L382.068 0.00012207L249.109 101.346ZM255.678 167.478L331.388 265.947L346.329 267.935L357.92 181.009L255.679 167.478H255.678Z" fill="#193967"/>
                </svg>
            .containers 
                .comp-add__block-icons.wow.fadeInDown.animated(data-wow-delay="0.8s")
                    img(src="./img/company/icon-4.png", alt="img")
                .comp-add__block-text.wow.fadeInDown.animated(data-wow-delay="1s") РАБОТАЕМ В ЛЮБОМ РЕГИОНЕ РОССИИ
                .comp-add__block-icons.wow.fadeInDown.animated(data-wow-delay="0.8s") 
                    img(src="./img/company/icon-5.png", alt="img")
                .comp-add__block-text.wow.fadeInDown.animated(data-wow-delay="1s") ПАРТНЕРСКИЕ ОТНОШЕНИЯ С КЛЮЧЕВЫМИ ПОСТАВЩИКАМИ ОБОРУДОВАНИЯ И МАТЕРИАЛОВ
                .comp-add__block-icons.wow.fadeInDown.animated(data-wow-delay="0.8s") 
                    img(src="./img/company/icon-6.png", alt="img")
                .comp-add__block-text.wow.fadeInDown.animated(data-wow-delay="1s") ПРОФЕССИОНАЛЬНЫЙ КАДРОВЫЙ СОСТАВ ЛУЧШИЕ СПЕЦИАЛИСТЫ ОТРАСЛИ

    section.comp-photo
        .comp-photo__add 
            a.comp-photo__add-text(href="object.html").wow.fadeInLeft.animated(data-wow-delay="0.8s")
                img(src="./img/company/banner-4.png", alt="img")
                p ВЛ 220 кВ Шахты-Донецкая
            a.comp-photo__add-text(href="object.html").wow.fadeInRight.animated(data-wow-delay="0.8s")
                img(src="./img/company/banner-5.png", alt="img")
                p ВЛ 500 кВ Донская АЭС - Ст. Оскол
            a.comp-photo__add-text(href="object.html").wow.fadeInDown.animated(data-wow-delay="0.8s")
                img(src="./img/index/hover.png", alt="img")
                p ПС 220 кВ Борская

    section.comp-own
        .containers 
            .comp-own__block    
                .comp-own__block-items 
                    .comp-own__block-items-title.wow.fadeInDown.animated(data-wow-delay="0.8s") Наш коллектив
                    .comp-own__block-items-line.wow.fadeInDown.animated(data-wow-delay="1s")
                    .comp-own__block-items-wrapper 
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/col-1.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/col-2.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/col-3.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/col-4.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/col-5.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/col-6.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/col-7.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/col-8.png", alt="img")
                .comp-own__block-items 
                    .comp-own__block-items-title.wow.fadeInDown.animated(data-wow-delay="0.8s") Наша техника
                    .comp-own__block-items-line.wow.fadeInDown.animated(data-wow-delay="1s") 
                    .comp-own__block-items-wrapper 
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/tex-1.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/tex-2.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/tex-3.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/tex-4.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/tex-5.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/tex-6.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/tex-7.png", alt="img")
                        .comp-own__block-items-img.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                            img(src="./img/index/tex-8.png", alt="img")

    section.comp-skills 
        .comp-skills__icons.wow.fadeInRight.animated(data-wow-delay="0.8s")
            <svg width="464" height="393" viewBox="0 0 464 393" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.8636 392.999H113.564L117.368 364.481L0 348.951L33.8636 392.999ZM179.116 392.999H267.95L269.085 384.537L181.785 372.996L179.116 392.998V392.999ZM324.426 392.999H400.533L408.623 332.408L333.818 322.509L324.426 392.999ZM464 344.924V340.613L463.431 344.849L464 344.924ZM464 249.338V195.028L422.467 189.535L410.864 276.466L425.819 278.447L464 249.338ZM464 129.763V31.1665L446.596 8.53024L431.009 125.402L464.001 129.763H464ZM277.658 320.278L279.643 305.387L203.927 206.917L190.35 308.724L277.658 320.278ZM8.56761 284.699L125.941 300.219L141.524 183.346L8.56761 284.699ZM249.109 101.346L366.471 116.867L382.068 0L249.109 101.346ZM255.678 167.478L331.388 265.947L346.329 267.935L357.92 181.008L255.679 167.478H255.678Z" fill="#004A9F"/>
            </svg>
        .containers
            .comp-skills__block 
                .comp-skills__block-title.wow.fadeInLeft.animated(data-wow-delay="0.8s") Особые навыки компании:
                ul.comp-skills__block-list
                    li.comp-skills__block-list-items.wow.fadeInLeft.animated(data-wow-delay="1s") 
                        p •	 Правительство Российской Федерации
                    li.comp-skills__block-list-items.wow.fadeInLeft.animated(data-wow-delay="1.2s") 
                        p •	 Министерство Энергетики Российской Федерации
                    li.comp-skills__block-list-items.wow.fadeInLeft.animated(data-wow-delay="1.4s") 
                        p •	 Министерство строительства Российской Федерации
                    li.comp-skills__block-list-items.wow.fadeInLeft.animated(data-wow-delay="1.6s") 
                        p •	 Федеральные энергетические компании
                .comp-skills__block-title.wow.fadeInLeft.animated(data-wow-delay="0.8s") А также богатый положительный опыт работы с профильными контролирующими и надзорными органами власти такими как:
                ul.comp-skills__block-list
                    li.comp-skills__block-list-items.wow.fadeInLeft.animated(data-wow-delay="1s") 
                        p •	 ФАУ «Главгосэкспертиза России»;
                    li.comp-skills__block-list-items.wow.fadeInLeft.animated(data-wow-delay="1.2s") 
                        p •	 Федеральная служба по экологическому, технологическому и атомному надзору (Ростехнадзор);
                    li.comp-skills__block-list-items.wow.fadeInLeft.animated(data-wow-delay="1.4s") 
                        p •	 Федеральная служба по надзору в сфере природопользования и другие организации.

    section.comp-secret 
        .comp-secret__title 
            .containers 
                .comp-secret__title-add.wow.fadeInLeft.animated(data-wow-delay="0.8s") Награды и грамоты
                .comp-secret__title-items.wow.fadeInLeft.animated(data-wow-delay="1s") СЕКРЕТ УСПЕХА ЛЭМ
                .comp-secret__title-text.wow.fadeInLeft.animated(data-wow-delay="1.3s") целеустремленность, грамотность и самоотдача дружного коллектива компании, что подтверждается отраслевыми наградами.
        .comp-secret__slider 
            .containers 
                .comp-secret__slider-block 
                    .swiper.companySecretSlider
                        .swiper-wrapper
                            .swiper-slide 
                                .comp-secret__slider-item.wow.fadeInUp.animated(data-wow-delay="0.8s")
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-1.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-2.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                            .swiper-slide 
                                .comp-secret__slider-item.wow.fadeInUp.animated(data-wow-delay="1s")
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-3.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-4.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                            .swiper-slide 
                                .comp-secret__slider-item.wow.fadeInUp.animated(data-wow-delay="1.2s")
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-5.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-6.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                            .swiper-slide 
                                .comp-secret__slider-item.wow.fadeInUp.animated(data-wow-delay="1.4s")
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-7.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-8.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                            .swiper-slide 
                                .comp-secret__slider-item.wow.fadeInUp.animated(data-wow-delay="1.6s")
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-9.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                                    .comp-secret__slider-items 
                                        .comp-secret__slider-items-photo 
                                            img(src="./img/company/blag-10.png", alt="img")
                                        .comp-secret__slider-items-text 
                                            .comp-secret__slider-items-text-title БЛАГОДАРНОСТЬ
                                            .comp-secret__slider-items-text-description Правительство Российской Федерации
                            
                    .swiper-controls.wow.fadeInUp.animated(data-wow-delay="1.8s")
                        .swiper-button-next.display-n
                        .swiper-button-prev.display-n
                        .swiper-pagination

        .comp-secret__one 
            .containers 
                .comp-secret__one-banner 
                    img(src="./img/company/one.png", alt="img")
                .comp-secret__one-count.wow.fadeIn.animated(data-wow-delay="0.8s") 
                    p 1
                .comp-secret__one-text.wow.fadeInUp.animated(data-wow-delay="0.8s")
                    p ООО «ЛЭМ» занимает первое место в отрасли электросетевого строительства (Строительство, ремонт и обслуживание объектов энергетики, электрических сетей, линий связи) по объемам выручки и стоимости компании.
        .comp-secret__gos 
            .comp-secret__gos-icons.wow.fadeInRight.animated(data-wow-delay="0.8s")
                <svg width="464" height="393" viewBox="0 0 464 393" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M33.8636 392.999H113.564L117.368 364.481L0 348.951L33.8636 392.999ZM179.116 392.999H267.95L269.085 384.537L181.785 372.996L179.116 392.998V392.999ZM324.426 392.999H400.533L408.623 332.408L333.818 322.509L324.426 392.999ZM464 344.924V340.613L463.431 344.849L464 344.924ZM464 249.338V195.028L422.467 189.535L410.864 276.466L425.819 278.447L464 249.338ZM464 129.763V31.1665L446.596 8.53024L431.009 125.402L464.001 129.763H464ZM277.658 320.278L279.643 305.387L203.927 206.917L190.35 308.724L277.658 320.278ZM8.56761 284.699L125.941 300.219L141.524 183.346L8.56761 284.699ZM249.109 101.346L366.471 116.867L382.068 0L249.109 101.346ZM255.678 167.478L331.388 265.947L346.329 267.935L357.92 181.008L255.679 167.478H255.678Z" fill="#004A9F"/>
                </svg>
            .containers 
                .comp-secret__gos-title.wow.fadeInUp.animated(data-wow-delay="0.8s") В нашем послужном списке
                .comp-secret__gos-gerb.wow.fadeInUp.animated(data-wow-delay="0.8s")
                    img(src="./img/company/gerb.png", alt="img")
                .comp-secret__gos-titles.wow.fadeInUp.animated(data-wow-delay="0.8s") БЛАГОДАРНОСТЬ ОТ ПРАВИТЕЛЬСТВА РОССИЙСКОЙ ФЕДЕРАЦИИ
                .comp-secret__gos-text.wow.fadeInUp.animated(data-wow-delay="0.8s") за активное участие в проекте присоединения энергосистемы Крымского полуострова к Единой энергетической системе нашей страный
                .comp-secret__gos-titles.wow.fadeInUp.animated(data-wow-delay="0.8s") НАДЕЖНОСТЬ
                .comp-secret__gos-text.wow.fadeInUp.animated(data-wow-delay="0.8s") подтвержденная на федеральном уровне, и участие в проектах национального масштаба по всей России - причины, по которым нам доверяют крупнейшие заказчики, работающие в энергетическом комплексе

    @@include('components/_process.pug')

    section.comp-partners
        .containers 
            .comp-partners__block 
                .comp-partners__block-title.wow.fadeInUp.animated(data-wow-delay="0.8s") ПАРТНЕРЫ ЛЭМ
                .comp-partners__block-text.wow.fadeInUp.animated(data-wow-delay="0.8s") лидеры отрасли, давно зарекомендовавшие себя на Российском и мировых рынках!
                .comp-partners__block-content.wow.fadeInUp.animated(data-wow-delay="0.8s")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-1.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-2.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-3.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-4.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-5.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-6.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-7.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-8.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-9.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-10.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-11.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-12.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-13.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-14.png", alt="img")

    section.comp-files 
        .containers 
            .comp-files__block 
                .comp-files__block-title.wow.fadeInUp.animated(data-wow-delay="0.8s") Результаты спецоценки условий труда
                .comp-files__block-content.wow.fadeInUp.animated(data-wow-delay="1s")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 2
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 3
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость СПб
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость СПб 2
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость СПб 2021
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Мероприятия 2
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Мероприятия 3
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Мероприятия СПб
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Мероприятия СПб 2
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Мероприятия СПб 2021
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")

    section.comp-career
        .containers 
            .comp-career__block 
                .comp-career__block-add.wow.fadeInUp.animated(data-wow-delay="0.8s") О компании
                .comp-career__block-title.wow.fadeInUp.animated(data-wow-delay="0.8s") КАрьера в ЛЭМ
                .comp-career__block-description.wow.fadeInUp.animated(data-wow-delay="0.8s") Коллектив ООО «ЛЭМ» всегда рад приветствовать в свой состав трудолюбивых и ответственных работников перечисленных ниже специальностей.
                .comp-career__block-text
                    .comp-career__block-text-add.wow.fadeInUp.animated(data-wow-delay="0.8s") Сегодня в компании трудятся 
                        span 4000 
                        | человек и более 
                        span 1500 
                        | – офисных сотрудников. Все они – грамотные специалисты и профессионалы своего дела.
                    .comp-career__block-text-address.wow.fadeInUp.animated(data-wow-delay="0.8s") Контактное лицо в Москве (Московская дирекция по строительству) 
                        br
                        | Зотов Сергей Сергеевич, 
                        br
                        a(href="tel:+74996840016")  тел. +7 (499) 684-0016 доб. 138, 
                        br
                        a(href="tel:+79032579255")  +7 (903) 257-92-55, 
                        br
                        a(href="mailto:ssz@lem-ltd.ru")  ssz@lem-ltd.ru
                    .comp-career__block-text-info.wow.fadeInUp.animated(data-wow-delay="0.8s") Контактное лицо в Санкт-Петербурге (Санкт-Петербургский филиал) 
                        br
                        | Ишутин Михаил Юрьевич, 
                        br
                        a(href="tel:+78123361996")  тел. +7 (812) 336-1996 доб. 634,
                        br 
                        a(href="tel:+79052186640")  +7 (905) 218-6640,
                        br
                        a(href="mailto:myuishutin@lem-ltd.ru" class="comp-career__block-text-info-add") myuishutin@lem-ltd.ru
                        br
                        br
                        span Работа вахтовым методом. Конкурентная заработная плата. Социальный пакет. Оплата проезда и проживания.
            .comp-career__content 
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="0.8s")
                    p Электромонтер-линейщик по монтажу воздушных линий с опытом работы не менее 2-х лет
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="1s")
                    p Монтажник стальных и железобетонных конструкций с опытом работы не менее 2-х лет
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="0.8s")
                    p Водитель вахтового автомобиля (категория D)
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="1s")
                    p Водитель вездехода 6 разряда
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    p Водитель тягача с полуприцепом (категория Е)
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="1.4s")
                    p Машинист автокрана 6 разряда
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="0.8s")
                    p Машинист бульдозера 5-6 разряда
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="1s")
                    p Машинист тракторного крана 6 разряда
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    p Машинист трелевочной машины 5-6 разряда
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="1.4s")
                    p Машинист экскаватора 5-6 разряда
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="0.8s")
                    p Инженер по охране труда
                a.comp-career__content-items(href="mailto:info@lem-ltd.ru").wow.fadeInUp.animated(data-wow-delay="1s")
                    p Инженер-геодезист
            .comp-career__content-slider 
                .swiper.companyCareerSlider
                    .swiper-wrapper
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Электромонтер-линейщик по монтажу воздушных линий с опытом работы не менее 2-х лет
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Монтажник стальных и железобетонных конструкций с опытом работы не менее 2-х лет
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Водитель вахтового автомобиля (категория D)
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Водитель вездехода 6 разряда
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Водитель тягача с полуприцепом (категория Е)
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Машинист автокрана 6 разряда
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Машинист бульдозера 5-6 разряда
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Машинист тракторного крана 6 разряда
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Машинист трелевочной машины 5-6 разряда
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Инженер по охране труда
                        .swiper-slide 
                            a(href="mailto:info@lem-ltd.ru") 
                                .comp-career__content-items 
                                    p Инженер-геодезист
                .swiper-controls
                    .swiper-pagination
                
            .comp-career__line.wow.fadeInUp.animated(data-wow-delay="0.8s")

    @@include('components/_footer.pug')

    @@include('components/_menu.pug')

@@include('components/_script.pug')