block variables
    - var title = 'Объекты'

@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.comp-secret 
        .comp-secret__title 
            .containers 
                .comp-secret__title-add Награды и грамоты
                .comp-secret__title-items СЕКРЕТ УСПЕХА ЛЭМ
                .comp-secret__title-text целеустремленность, грамотность и самоотдача дружного коллектива компании, что подтверждается отраслевыми наградами.
        .comp-secret__slider 
            .containers 
                .comp-secret__slider-block 
                
        .comp-secret__gos 
            .containers 
                .comp-secret__gos-title В нашем послужном списке
                .comp-secret__gos-gerb 
                    img(src="./img/company/gerb.png", alt="img")
                .comp-secret__gos-titles БЛАГОДАРНОСТЬ ОТ ПРАВИТЕЛЬСТВА РОССИЙСКОЙ ФЕДЕРАЦИИ
                .comp-secret__gos-text за активное участие в проекте присоединения энергосистемы Крымского полуострова к Единой энергетической системе нашей страный
                .comp-secret__gos-titles НАДЕЖНОСТЬ
                .comp-secret__gos-text подтвержденная на федеральном уровне, и участие в проектах национального масштаба по всей России - причины, по которым нам доверяют крупнейшие заказчики, работающие в энергетическом комплексе

    @@include('components/_process.pug')

    section.comp-partners
        .containers 
            .comp-partners__block 
                .comp-partners__block-title ПАРТНЕРЫ ЛЭМ
                .comp-partners__block-text лидеры отрасли, давно зарекомендовавшие себя на Российском и мировых рынках!
                .comp-partners__block-content
                    .comp-partners__block-content-items
                        img(src="./img/company/part-1.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-2.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-3.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-4.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-5.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-6.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-7.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-8.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-9.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-10.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-11.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-12.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-13.png", alt="img")
                    .comp-partners__block-content-items
                        img(src="./img/company/part-14.png", alt="img")

    section.comp-files 
        .containers 
            .comp-files__block 
                .comp-files__block-title Результаты спецоценки условий труда
                .comp-files__block-content 
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    .comp-files__block-content-items 
                        .comp-files__block-content-text 
                            a(href="#") Сводная ведомость 1
                        .comp-files__block-content-icons 
                            img(src="./img/company/pdf.png", alt="img")
                    

    @@include('components/_footer.pug')

@@include('components/_script.pug')