block variables
    - var title = 'Направления деятельности'

@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.def-header
        .def-header__banners 
            .def-header__banners-items
                img(src="./img/deflation/banner-1.png", alt="banner")
            .def-header__banners-items
                img(src="./img/deflation/banner-2.png", alt="banner")
            .def-header__banners-items
        .containers
            .def-header__block 
                .def-header__block-title Направления деятельности
                .def-header__block-description ООО «ЛЭМ» осуществляет собственными силами и силами привлечённых субподрядчиков строительство и реконструкцию следующих типов объектов:
                ul.def-header__block-list
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-1.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-2.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-3.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-4.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-5.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-6.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                .def-header__block-text Все профильные виды работ ООО «ЛЭМ» выполняет собственными силами, без привлечения субподрядных организаций, что позволяет значительно сократить время на мобилизацию персонала, спецтехники и повышает качество выполняемых работ. Для этого у компании есть все необходимое – от штата квалифицированных специалистов до парка современной спецтехники.

    section.def-content 
        .containers 
            .def-content__block 
                .def-content__block-text Проектирование электросетевых и промышленно-гражданских объектов
                    br
                    br
                    br
                    | (Электрических подстанций, линий электропередачи, кабельных линий, ВОЛС и др.): 
                .def-content__block-banner 
                    img(src="./img/details/banner-3.png", alt="img")
                .def-content__block-description предпроектные обследования и сбор исходных данных;
                    br
                    br
                    br
                    | выполнение инженерно-геодезических работ методом АФЛС в масштабе 1:5000 с 3D лазерным сканированием;
                .def-content__block-line 
                .def-content__block-list
                    .def-content__block-list-items 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                    .def-content__block-list-items 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                    .def-content__block-list-items 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                .def-content__block-banners 
                    img(src="./img/details/banner-3.png", alt="img")
                    p выполнение комплекса инженерных изысканий для проектирования объекта: инженерно-геологические, инженерно-гидрометеорологические и инженерно-экологические изыскания, закрепление трассы ВЛ в местности;
                .def-content__block-list
                    .def-content__block-list-items 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                    .def-content__block-list-items 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                    .def-content__block-list-items 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                .def-content__block-banners 
                    img(src="./img/details/banner-3.png", alt="img")
                    p выполнение комплекса инженерных изысканий для проектирования объекта: инженерно-геологические, инженерно-гидрометеорологические и инженерно-экологические изыскания, закрепление трассы ВЛ в местности;
                .def-content__block-lists
                    .def-content__block-lists-items 
                        img(src="./img/details/icons.png", alt="img")
                        p направление и получение положительного заключения органов государственной экспертизы проектной документации‚ результатов инженерных изысканий и проверки достоверности определения сметной стоимости;
                    .def-content__block-lists-items 
                        img(src="./img/details/icons.png", alt="img")
                        p направление и получение положительного заключения органов государственной экспертизы проектной документации‚ результатов инженерных изысканий и проверки достоверности определения сметной стоимости;
                    .def-content__block-lists-items 
                        img(src="./img/details/icons.png", alt="img")
                        p направление и получение положительного заключения органов государственной экспертизы проектной документации‚ результатов инженерных изысканий и проверки достоверности определения сметной стоимости;

    section.def-delivery 
        .def-delivery__block 
            .def-delivery__block-title СТРОИТЕЛЬСТВО И РЕКОНСТРУКЦИЯ
            .def-delivery__block-line 
            .containers 
                ul.def-delivery__block-list 
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-1.png", alt="img")
                        .def-delivery__block-items-text 
                            p общестроительных работ
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-2.png", alt="img")
                        .def-delivery__block-items-text 
                            p работ по монтажу основного и вторичного оборудования (РЗА, ПА, АСУ ТП, ) и его пусконаладке
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-3.png", alt="img")
                        .def-delivery__block-items-text 
                            p работ по созданию на объекте ЦСПИ , внутриобъектовой и ВЧ связи
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-3.png", alt="img")
                        .def-delivery__block-items-text 
                            p работ по созданию на объекте ЦСПИ , внутриобъектовой и ВЧ связи
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-3.png", alt="img")
                        .def-delivery__block-items-text 
                            p работ по созданию на объекте ЦСПИ , внутриобъектовой и ВЧ связи
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-3.png", alt="img")
                        .def-delivery__block-items-text 
                            p работ по созданию на объекте ЦСПИ , внутриобъектовой и ВЧ связи

    section.def-service 
        .containers 
            .def-service__block 
                .def-service__block-banner 
                    .def-service__block-banner-text Управление строительством как отдельных подстанционных и распределительных электросетевых объектов, так и крупных комплексных проектов, состоящих из набора разных типов объектов
                .def-service__block-titles ПОСТАВКА ОБОРУДОВАНИЯ И КОМПЛЕКТАЦИЯ ОБЪЕКТОВ МАТЕРИАЛАМИ 
                .def-service__block-line 
                .def-service__block-text Многолетний опыт работы с ведущим производителями и поставщиками позволяет ООО «ЛЭМ» в кратчайшие сроки комплектовать объекты всем необходимым для успешной и своевременной реализации объектов строительства. 
                .def-service__block-titles ИНЖИНИРИНГ
                .def-service__block-line 
                .def-service__block-text ООО «ЛЭМ» также выполняет инжиниринговую работу, осуществляя управление строительством как одиночных, так и комплексных объектов с различным инфраструктурным составом.

    @@include('components/_footer.pug')

@@include('components/_script.pug')