block variables
    - var title = 'Направления деятельности'

@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.def-header
        .def-header__banners 
            .def-header__banners-items
                img(src="./img/deflation/banner-1.png", alt="banner")
            .def-header__banners-items
                img(src="./img/deflation/banner-2.png", alt="banner")
            .def-header__banners-items
        .containers
            .def-header__block 
                .def-header__block-title Направления деятельности
                .def-header__block-description ООО «ЛЭМ» осуществляет собственными силами и силами привлечённых субподрядчиков строительство и реконструкцию следующих типов объектов:
                ul.def-header__block-list
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-1.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-2.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-3.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-4.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-5.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                    li.def-header__block-items 
                        .def-header__block-items-photo 
                            img(src="./img/deflation/header-6.png", alt="img")
                            <svg width="110" height="105" viewBox="0 0 110 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1859 103.542C22.1016 103.542 22.1016 89.4878 31.0172 89.4878C39.9328 89.4878 39.9407 103.542 48.8564 103.542C57.772 103.542 57.772 89.4878 66.6955 89.4878C75.619 89.4878 75.6111 103.542 84.5268 103.542C93.4424 103.542 93.4503 89.4878 102.366 89.4878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M90.791 48.0411L108.024 26.6924" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M45.2667 34.1294H55.9371V52.3935" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.4299 52.3928L72.265 1H82.5499L90.7809 50.7718" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8657V52.3939" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 15.8644L44.2326 50.7715V34.4039L4.80075 10.2065L1 15.8644Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M79.5954 101.858V77.7H93.744V96.0663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M41.7958 99.2848V77.7H55.9365V99.2769" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M98.5003 52.3923H33.6907V76.9359H98.5003V52.3923Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .def-header__block-items-text 
                            p Трансформаторные подстанции 10-750 кВ
                .def-header__block-text Виды работ, выполняемые подразделениями Ленэлектромонтаж, а так же силами привлечённых субподрядчиков, при строительстве электросетевых объектов:
                .def-header__block-add Проектирование

    section.def-list 
        .containers 
            .def-list__block  
                .def-list__block-items 
                    .def-list__block-items-circle 
                    .def-list__block-items-text Разработка проектной документации, в том числе технико-экономические обоснования, изыскательские работы, согласование в государственных и надзорных органах
                    .def-list__block-items-bg 
                        <svg width="233" height="224" viewBox="0 0 233 224" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.2992 222.302C46.5406 222.302 46.5406 191.971 65.782 191.971C85.0234 191.971 85.0404 222.302 104.282 222.302C123.523 222.302 123.523 191.971 142.782 191.971C162.04 191.971 162.023 222.302 181.264 222.302C200.506 222.302 200.523 191.971 219.764 191.971" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M194.784 102.522L231.976 56.4482" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M96.5348 72.4984H119.563V111.915" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M129.26 111.914L154.802 1H176.998L194.762 108.416" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 33.0827V111.916" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 33.0801L94.303 108.415V73.0913L9.20265 20.8695L1 33.0801Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M170.622 218.668V166.531H201.157V206.169" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M89.044 213.115V166.531H119.562V213.098" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M211.421 111.913H71.5519V164.882H211.421V111.913Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .def-list__block-items 
                    .def-list__block-items-circle 
                    .def-list__block-items-text Разработка рабочей документации, включая разделы: общестроительные решения, основные электротехнические решения, РЗА, ПА, АСУ ТП, ВОЛС, ВЧ-связь
                    .def-list__block-items-bg 
                        <svg width="233" height="224" viewBox="0 0 233 224" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.2992 222.302C46.5406 222.302 46.5406 191.971 65.782 191.971C85.0234 191.971 85.0404 222.302 104.282 222.302C123.523 222.302 123.523 191.971 142.782 191.971C162.04 191.971 162.023 222.302 181.264 222.302C200.506 222.302 200.523 191.971 219.764 191.971" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M194.784 102.522L231.976 56.4482" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M96.5348 72.4984H119.563V111.915" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M129.26 111.914L154.802 1H176.998L194.762 108.416" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 33.0827V111.916" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 33.0801L94.303 108.415V73.0913L9.20265 20.8695L1 33.0801Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M170.622 218.668V166.531H201.157V206.169" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M89.044 213.115V166.531H119.562V213.098" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M211.421 111.913H71.5519V164.882H211.421V111.913Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .def-list__block-items 
                    .def-list__block-items-circle 
                    .def-list__block-items-text Услуги по техническому сопровождению проектов
                    .def-list__block-items-bg 
                        <svg width="233" height="224" viewBox="0 0 233 224" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.2992 222.302C46.5406 222.302 46.5406 191.971 65.782 191.971C85.0234 191.971 85.0404 222.302 104.282 222.302C123.523 222.302 123.523 191.971 142.782 191.971C162.04 191.971 162.023 222.302 181.264 222.302C200.506 222.302 200.523 191.971 219.764 191.971" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M194.784 102.522L231.976 56.4482" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M96.5348 72.4984H119.563V111.915" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M129.26 111.914L154.802 1H176.998L194.762 108.416" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 33.0827V111.916" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 33.0801L94.303 108.415V73.0913L9.20265 20.8695L1 33.0801Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M170.622 218.668V166.531H201.157V206.169" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M89.044 213.115V166.531H119.562V213.098" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M211.421 111.913H71.5519V164.882H211.421V111.913Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

    section.def-delivery 
        .def-delivery__block 
            .def-delivery__block-title Поставка оборудования и комплектация объектов материалами
            .def-delivery__block-line 
            .def-delivery__block-banner
            .containers 
                .def-delivery__block-titles Строительство
                .def-delivery__block-text Работы по строительству подстанций и распределительных устройств с выполнением:
                ul.def-delivery__block-list 
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-1.png", alt="img")
                        .def-delivery__block-items-text 
                            p общестроительных работ
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-2.png", alt="img")
                        .def-delivery__block-items-text 
                            p работ по монтажу основного и вторичного оборудования (РЗА, ПА, АСУ ТП, ) и его пусконаладке
                    li.def-delivery__block-items 
                        .def-delivery__block-items-photo 
                            img(src="./img/deflation/delivery-3.png", alt="img")
                        .def-delivery__block-items-text 
                            p работ по созданию на объекте ЦСПИ , внутриобъектовой и ВЧ связи
                .def-delivery__block-add Полный комплекс работ по строительству кабельных сетей и воздушных линий электропередач, а так же волоконно оптических линий связи


    section.def-service 
        .def-service__block 
            .def-service__block-title Оказание инжиниринговых услуг
            .def-service__block-line 
            .def-service__block-banner 
                .def-service__block-banner-text Управление строительством как отдельных подстанционных и распределительных электросетевых объектов, так и крупных комплексных проектов, состоящих из набора разных типов объектов

    @@include('components/_footer.pug')

@@include('components/_script.pug')