block variables
    - var title = 'Деятельность'

@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.details-header 
        .containers 
            .details-header__block 
                .details-header__block-way.wow.fadeInLeft.animated(data-wow-delay="1s") 
                    .details-header__block-way-prev 
                        a(href="deflation.html")  Направления деятельности
                    .details-header__block-way-line  /
                    .details-header__block-way-next 
                        a(href="details.html")  Направление
                .details-header__block-title.wow.fadeInLeft.animated(data-wow-delay="1.2s")  ПРОЕКТНО-ИЗЫСКАТЕЛЬСКИЕ РАБОТЫ

    section.details-content 
        .containers 
            .details-content__block 
                .details-content__block-text.wow.fadeInLeft.animated(data-wow-delay="1.4s")  Проектирование электросетевых и промышленно-гражданских объектов
                    br
                    br
                    br
                    | (Электрических подстанций, линий электропередачи, кабельных линий, ВОЛС и др.): 
                .details-content__block-banner.wow.fadeInLeft.animated(data-wow-delay="1.6s")  
                    img(src="./img/details/banner-3.png", alt="img")
                .details-content__block-description.wow.fadeInLeft.animated(data-wow-delay="1s")  предпроектные обследования и сбор исходных данных;
                    br
                    br
                    br
                    | выполнение инженерно-геодезических работ методом АФЛС в масштабе 1:5000 с 3D лазерным сканированием;
                .details-content__block-line.wow.fadeInLeft.animated(data-wow-delay="1s")
                .details-content__block-list
                    .details-content__block-list-items.wow.fadeInUp.animated(data-wow-delay="0.8s") 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                    .details-content__block-list-items.wow.fadeInUp.animated(data-wow-delay="1s") 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                    .details-content__block-list-items.wow.fadeInUp.animated(data-wow-delay="1.2s") 
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                .details-content__block-banners.wow.fadeInUp.animated(data-wow-delay="1s") 
                    img(src="./img/details/banner-3.png", alt="img")
                    p выполнение комплекса инженерных изысканий для проектирования объекта: инженерно-геологические, инженерно-гидрометеорологические и инженерно-экологические изыскания, закрепление трассы ВЛ в местности;
                .details-content__block-list
                    .details-content__block-list-items.wow.fadeInUp.animated(data-wow-delay="0.8s")  
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                    .details-content__block-list-items.wow.fadeInUp.animated(data-wow-delay="1s")  
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                    .details-content__block-list-items.wow.fadeInUp.animated(data-wow-delay="1.2s")  
                        img(src="./img/details/icons.png", alt="img")
                        p разработка и согласование основных технических решений (ОТР);
                .details-content__block-banners.wow.fadeInUp.animated(data-wow-delay="1s") 
                    img(src="./img/details/banner-3.png", alt="img")
                    p выполнение комплекса инженерных изысканий для проектирования объекта: инженерно-геологические, инженерно-гидрометеорологические и инженерно-экологические изыскания, закрепление трассы ВЛ в местности;
                .details-content__block-lists
                    .details-content__block-lists-items.wow.fadeInUp.animated(data-wow-delay="0.8s")  
                        img(src="./img/details/icons.png", alt="img")
                        p направление и получение положительного заключения органов государственной экспертизы проектной документации‚ результатов инженерных изысканий и проверки достоверности определения сметной стоимости;
                    .details-content__block-lists-items.wow.fadeInUp.animated(data-wow-delay="1s")  
                        img(src="./img/details/icons.png", alt="img")
                        p направление и получение положительного заключения органов государственной экспертизы проектной документации‚ результатов инженерных изысканий и проверки достоверности определения сметной стоимости;
                    .details-content__block-lists-items.wow.fadeInUp.animated(data-wow-delay="1.2s")  
                        img(src="./img/details/icons.png", alt="img")
                        p направление и получение положительного заключения органов государственной экспертизы проектной документации‚ результатов инженерных изысканий и проверки достоверности определения сметной стоимости;

    @@include('components/_footer.pug')

    @@include('components/_menu.pug')

@@include('components/_script.pug')