block variables
    - var title = 'Главная'

@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.ind-header 
        .ind-header__banner 
            video( poster="./img/index/banner.png" autoplay muted loop src="https://s3-us-west-2.amazonaws.com/converterpoint-22/encodings/1dd22492fb89efba0205590a9b2468ce.mp4")
        .containers 
            .ind-header__menu
                .ind-header__menu-language 
                    .ind-header__menu-language-ru#indexHeaderLanguageRU RU
                    .ind-header__menu-language-en#indexHeaderLanguageEN.ind-header__menu-language-active EN
            .ind-header__info 
                .ind-header__info-description 
                    .ind-header__info-description-block 
                        .ind-header__info-description-block-wrapper
                            .ind-header__info-description-block-title Общество с ограниченной ответственностью «Ленэлектромонтаж»
                            button.ind-header__info-description-block-btn
                                a(href="#") Компания в цифрах
                                <svg width="79" height="16" viewBox="0 0 79 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M78.7071 8.70711C79.0976 8.31659 79.0976 7.68342 78.7071 7.2929L72.3431 0.928939C71.9526 0.538414 71.3195 0.538414 70.9289 0.928938C70.5384 1.31946 70.5384 1.95263 70.9289 2.34315L76.5858 8.00001L70.9289 13.6569C70.5384 14.0474 70.5384 14.6805 70.9289 15.0711C71.3195 15.4616 71.9526 15.4616 72.3431 15.0711L78.7071 8.70711ZM-8.74228e-08 9L78 9.00001L78 7.00001L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                                </svg>
                    .ind-header__info-description-add
                        .ind-header__info-description-add-title#indexHeaderSliderTitle-1 Годовой оборот
                        .ind-header__info-description-add-title.display-n#indexHeaderSliderTitle-2 Техническая оснащенность
                        .ind-header__info-description-add-title.display-n#indexHeaderSliderTitle-3 Штаб специалистов
                        .ind-header__info-description-add-title.display-n#indexHeaderSliderTitle-4 Инфраструктурных проектов
                        .ind-header__info-description-add-banner#indexHeaderSliderCount-1 15
                        .ind-header__info-description-add-banner.display-n#indexHeaderSliderCount-2 300
                        .ind-header__info-description-add-banner.display-n#indexHeaderSliderCount-3 1300
                        .ind-header__info-description-add-banner.display-n#indexHeaderSliderCount-4 30
                        .ind-header__info-description-add-slider 
                            .ind-header__info-description-add-slider-text#indexHeaderSliderText-1
                                h3 свыше млрд
                                p рублей
                            .ind-header__info-description-add-slider-text.display-n#indexHeaderSliderText-2
                                h3 единиц спецтехники
                                p 
                            .ind-header__info-description-add-slider-text.display-n#indexHeaderSliderText-3
                                h3 высококлассных специалистов отрасли
                                p 
                            .ind-header__info-description-add-slider-text.display-n#indexHeaderSliderText-4
                                h3 инфраструктурных проектов
                                p 
                            .ind-header__info-description-add-slider-prev
                                <svg width="10" height="21" viewBox="0 0 10 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.172608 10.5L9.19988 0.540707L9.19988 20.4593L0.172608 10.5Z" fill="#002C5B"/>
                                </svg>
                            .ind-header__info-description-add-slider-next
                                <svg width="10" height="21" viewBox="0 0 10 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.32886 10.5L0.301583 20.4593L0.301584 0.540707L9.32886 10.5Z" fill="#002C5B"/>
                                </svg>
                        .ind-header__info-description-add-arrow
                            <svg width="20" height="9" viewBox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0014 0L19.9909 9L0.0119295 9L10.0014 0Z" fill="#002C5B"/>
                            </svg>
                .ind-header__info-tabs 
                    ul.ind-header__info-tabs-list
                        li.ind-header__info-tabs-items#indexHeaderTabsButton-1.ind-header__info-tabs-items-active
                            .ind-header__info-tabs-items-icons 
                                <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.06201 42.1796C9.6474 42.1796 9.6474 36.5356 13.2328 36.5356C16.8182 36.5356 16.8213 42.1796 20.4067 42.1796C23.9921 42.1796 23.9921 36.5356 27.5807 36.5356C31.1692 36.5356 31.1661 42.1796 34.7514 42.1796C38.3368 42.1796 38.34 36.5356 41.9254 36.5356" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M37.2656 19.8913L44.1959 11.3179" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.959 14.3042H23.2501V21.6388" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25.061 21.6387L29.8205 1H33.9565L37.2665 20.9877" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1.15845 6.96954V21.6388" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1.15845 6.96954L18.5443 20.9878V14.4148L2.6869 4.69742L1.15845 6.96954Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M32.7651 41.5033V31.8018H38.4549V39.1775" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.5625 40.4699V31.8018H23.2491V40.4668" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M40.3668 21.6387H14.304V31.4951H40.3668V21.6387Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .ind-header__info-tabs-items-title Годовой оборот
                        li.ind-header__info-tabs-items#indexHeaderTabsButton-2
                            .ind-header__info-tabs-items-icons 
                                <svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M42.1889 36.3019H12.3993L1.39087 9.87473H31.1805L42.1889 36.3019Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M27.2953 36.3016L16.2869 9.87451" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M6.89282 23.0864H36.6859" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.5964 36.3018V41.8381" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M38.8591 36.3018V41.8381" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.45703 41.8384H42.1882" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M42.571 12.7016C45.8221 12.7016 48.4576 10.0821 48.4576 6.85081C48.4576 3.6195 45.8221 1 42.571 1C39.3199 1 36.6843 3.6195 36.6843 6.85081C36.6843 10.0821 39.3199 12.7016 42.571 12.7016Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .ind-header__info-tabs-items-title Техническая оснащенность
                        li.ind-header__info-tabs-items#indexHeaderTabsButton-3
                            .ind-header__info-tabs-items-icons 
                                <svg width="55" height="43" viewBox="0 0 55 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M45.5314 41.9884H0.623047C17.5253 19.8626 9.3146 1 9.3146 1H36.8398C36.8398 1 35.3104 4.51116 34.9163 10.2896C34.4314 17.8906 35.9253 29.412 45.5314 41.9884Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M54.231 42.0518H19.8196L19.8669 41.9889H45.5316C35.9256 29.4125 34.4316 17.891 34.9165 10.29H47.5616C47.5616 10.29 41.2785 24.9054 54.231 42.0518Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M24.8609 27.5384C24.8941 27.9193 24.8031 28.3007 24.6013 28.6257C24.3995 28.9506 24.0979 29.2016 23.7414 29.3412C23.5846 29.4018 23.4201 29.4403 23.2527 29.4554C22.9047 29.4856 22.5556 29.4123 22.2493 29.2448C21.943 29.0773 21.6932 28.823 21.5313 28.514C21.3694 28.205 21.3026 27.8551 21.3395 27.5083C21.3763 27.1615 21.515 26.8333 21.7382 26.5651C21.9614 26.2969 22.2591 26.1006 22.5938 26.0009C22.9284 25.9013 23.2851 25.9027 23.619 26.0051C23.9528 26.1075 24.2489 26.3062 24.4699 26.5762C24.6909 26.8463 24.8269 27.1756 24.8609 27.5227V27.5384Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M33.4193 26.6958C33.6439 28.9122 33.1313 31.1407 31.9608 33.0371C30.781 34.9446 29.0133 36.4183 26.9233 37.2371L24.6252 31.5453C25.4642 31.2199 26.1735 30.6295 26.6453 29.8642C27.1171 29.0988 27.3255 28.2005 27.2386 27.3059L33.4193 26.6958Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.0129 19.3863C18.8509 18.0861 21.059 17.4113 23.3108 17.4616C25.5626 17.5119 27.7383 18.2848 29.5162 19.6657L25.6651 24.4759C24.9501 23.9198 24.0746 23.6088 23.1685 23.5889C22.2625 23.5691 21.3742 23.8415 20.6354 24.3657L17.0129 19.3863Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.799 37.0566C16.7497 36.1474 15.0522 34.5973 13.9625 32.6401C12.8758 30.694 12.4603 28.445 12.7799 26.2397L18.9291 27.1215C18.8043 28.0075 18.9728 28.9101 19.409 29.6917C19.8452 30.4733 20.5251 31.0912 21.3454 31.4514L18.799 37.0566Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .ind-header__info-tabs-items-title Штаб специалистов
                        li.ind-header__info-tabs-items#indexHeaderTabsButton-4
                            .ind-header__info-tabs-items-icons 
                                <svg width="62" height="44" viewBox="0 0 62 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.8555 42.5069C16.777 42.2763 18.4165 37.7521 20.4901 32.204C21.5985 29.2478 22.8223 26.001 23.9815 22.9802C25.1407 19.9595 26.2075 17.1416 27.025 14.9971" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M29.6499 14.8491L32.1253 22.966L34.9425 32.2082L38.0875 42.5112" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M24.5786 13.1938L8.91797 19.5675" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M32.1006 10.1315L54.5409 1V34.307" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.55564 11.5795L0.840088 17.6533C0.840088 17.6533 3.38477 25.7749 4.82106 29.409L9.41164 29.6949L7.95226 11.4826L3.55564 11.5795Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M60.9973 35.1187H49.5486V42.5115H60.9973V35.1187Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M32.2446 11.1458C32.2313 11.9495 31.9768 12.7308 31.5141 13.3885C31.0514 14.0462 30.4017 14.5502 29.6491 14.8353C29.1587 15.0251 28.6372 15.1221 28.1112 15.1212C27.7449 15.1227 27.3801 15.0762 27.0259 14.9829C26.0112 14.7122 25.1367 14.068 24.5782 13.1796C24.1992 12.5684 23.9963 11.8647 23.9917 11.1458C24.0174 10.1588 24.3966 9.21362 25.0604 8.48187C25.7243 7.75013 26.6288 7.28026 27.6098 7.15752C28.5909 7.03477 29.5836 7.26729 30.4076 7.81288C31.2317 8.35847 31.8327 9.18098 32.1014 10.1312C32.1956 10.4612 32.2438 10.8026 32.2446 11.1458Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M23.9819 22.9663H32.124" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M20.4907 32.2134H34.946" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.41284 42.5114V30.0547" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .ind-header__info-tabs-items-title Инфраструктурных проектов
                .ind-header__info-media 
                    .ind-header__info-media-wrapper 
                        .ind-header__info-media-arrow 
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 1L7.35355 0.646446L7 0.292893L6.64645 0.646446L7 1ZM13.3536 6.64645L7.35355 0.646446L6.64645 1.35355L12.6464 7.35355L13.3536 6.64645ZM6.64645 0.646446L0.646446 6.64645L1.35355 7.35355L7.35355 1.35355L6.64645 0.646446Z" fill="white"/>
                            </svg>
                        .ind-header__info-media-title ЛЭМ В ЦИФРАХ
                        .ind-header__info-media-arrow 
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 1L7.35355 0.646446L7 0.292893L6.64645 0.646446L7 1ZM13.3536 6.64645L7.35355 0.646446L6.64645 1.35355L12.6464 7.35355L13.3536 6.64645ZM6.64645 0.646446L0.646446 6.64645L1.35355 7.35355L7.35355 1.35355L6.64645 0.646446Z" fill="white"/>
                            </svg>
                .ind-header__info-line
                    .ind-header__info-line-wrapper
                        .ind-header__info-line-text 
                            marquee(behavior="scroll", direction="left") &nbsp;&nbsp; Портал Vesti.ru &nbsp;&nbsp; <span> "Светнаш": энергомост через Керченский пролив прорвал энергоблокаду Крыма </span> &nbsp;&nbsp; Портал Vesti.ru &nbsp;&nbsp; &nbsp;&nbsp; Портал Vesti.ru &nbsp;&nbsp; <span> "Светнаш": энергомост через Керченский пролив прорвал энергоблокаду Крыма </span> &nbsp;&nbsp; Портал Vesti.ru &nbsp;&nbsp;
                .ind-header__info-play 
                    .ind-header__info-play-icons 
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16.6428C0 7.45124 7.46204 0 16.6667 0C25.8713 0 33.3333 7.45124 33.3333 16.6428C33.3333 25.8344 25.8713 33.2856 16.6667 33.2856C7.46204 33.2856 0 25.8344 0 16.6428ZM14.0938 22.7259L22.4271 17.525C22.7315 17.3346 22.9167 17.0014 22.9167 16.6428C22.9167 16.2843 22.7315 15.9511 22.4271 15.7606L14.0938 10.5598C13.7726 10.3591 13.3677 10.3479 13.0366 10.5323C12.7055 10.7157 12.5 11.0636 12.5 11.442V21.8437C12.5 22.2221 12.7055 22.57 13.0366 22.7534C13.194 22.8407 13.368 22.8839 13.5417 22.8839C13.7334 22.8839 13.9251 22.831 14.0938 22.7259Z" fill="white"/>
                        </svg>
                    .ind-header__info-play-title Воспроизвезти видео

    section.ind-slider 
        .containers 
            .ind-slider__wrapper 
                .ind-slider__wrapper-info 
                    .ind-slider__wrapper-info-text «Модернизация электросетевого хозяйства страны – стратегическое направление деятельности нашей компании.»
                    .ind-slider__wrapper-info-photo 
                    .ind-slider__wrapper-info-description 
                        h3 Мураткин Александр Михайлович
                        p Генеральный директор ООО «ЛЭМ»
                .ind-slider__wrapper-slide 
                    .ind-slider__wrapper-slide-arrow
                        .ind-slider__wrapper-slide-count 
                            p 01
                            span /04
                        .ind-slider__wrapper-slide-prev#SliderButtonPrev
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928933C7.68054 0.538408 7.04738 0.538408 6.65685 0.928933L0.292893 7.29289ZM57 9C57.5523 9 58 8.55229 58 8C58 7.44772 57.5523 7 57 7L57 9ZM1 9L57 9L57 7L1 7L1 9Z" fill="#003169"/>
                            </svg>
                        .ind-slider__wrapper-slide-next#SliderButtonNext
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7C0.447715 7 4.82823e-08 7.44772 0 8C-4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM57.7071 8.70711C58.0976 8.31659 58.0976 7.68342 57.7071 7.2929L51.3431 0.928937C50.9526 0.538412 50.3195 0.538412 49.9289 0.928936C49.5384 1.31946 49.5384 1.95263 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM1 9L57 9L57 7L1 7L1 9Z" fill="#003169"/>
                            </svg>
                    .ind-slider__wrapper-slide-content 
                        img(src="./img/index/slider.png", alt="img")

    section.ind-description 
        .containers 
            .ind-description__block 
                .ind-description__block-logo 
                    <svg width="151" height="55" viewBox="0 0 151 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_548_100)">
                        <path d="M77.3904 24.6396H62.0549C56.3334 24.6396 54.3409 29.2644 47.1007 38.65C41.2165 46.277 36.346 52.8535 34.7695 55.0005H41.6869C43.9641 52.2131 47.8984 47.197 51.1399 42.6394C57.574 33.5929 59.3887 30.7122 62.5847 30.7122H71.2562V55.0005H77.3904V24.6401V24.6396ZM80.4575 54.9999H101.927C108.061 54.9999 111.128 51.9639 111.128 45.8918V33.7477C111.128 27.6756 108.061 24.6396 101.927 24.6396H80.4575V30.7117H101.927C103.972 30.7117 104.994 31.7233 104.994 33.7477V36.7837H92.7258V42.8558H104.994V45.8918C104.994 47.9162 103.972 48.9279 101.927 48.9279H80.4575V54.9999V54.9999ZM151.001 54.9999H144.866V35.9741L132.597 54.9999L120.329 35.9741V54.9999H114.195V24.6396H120.329L132.597 43.6654L144.866 24.6396H151.001V54.9999Z" fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.5562 6.78516L24.6517 7.82455L23.6016 0L32.5562 6.78516ZM32.1134 11.2135L27.0152 17.8067L26.0089 17.9387L25.228 12.1192L32.1139 11.2135H32.1134ZM21.6625 18.5103L20.6551 18.6424L13.995 13.5953L20.8816 12.6896L21.6625 18.5098V18.5103ZM19.2558 0.57158L20.3058 8.39613L12.4012 9.43552L19.2558 0.57158ZM17.9883 22.0919L18.1217 23.088L12.242 23.861L11.3271 17.0447L17.9877 22.0913L17.9883 22.0919ZM7.90458 24.4315L0 25.4708L6.85456 16.6069L7.90458 24.4315ZM18.6997 27.3904L18.8331 28.3876L13.7344 34.9802L12.8194 28.1634L18.6991 27.3904H18.6997ZM0.577427 29.7727L8.48201 28.7333L9.53203 36.5578L0.577427 29.7727ZM48.7561 19.0608L40.8516 20.1002L39.8015 12.2757L48.7561 19.0608ZM36.5136 20.6701L30.6339 21.4431L30.5005 20.4459L35.5992 13.8533L36.5141 20.6701H36.5136ZM42.479 32.2266L41.429 24.402L49.3336 23.3627L42.479 32.2266ZM38.0054 31.7888L31.3448 26.7416L31.2113 25.7455L37.0904 24.9725L38.0054 31.7888V31.7888ZM30.0772 48.2625L29.0272 40.4379L36.9318 39.3985L30.0772 48.2625ZM28.4515 36.1439L27.6705 30.3237L28.6779 30.1917L35.338 35.2388L28.4515 36.1444V36.1439ZM16.7768 42.0483L24.6814 41.009L25.7314 48.8335L16.7768 42.0483ZM17.2191 37.6205L22.3173 31.0274L23.3241 30.8953L24.1051 36.7154L17.2191 37.6211V37.6205ZM26.8504 21.5924L27.5197 26.5785L22.4821 27.2411L21.8133 22.2545L26.8504 21.5924V21.5924Z" fill="white"></path>
                        </g>
                        <defs>
                        <clipPath id="clip0_548_100">
                        <rect width="151" height="55" fill="white"></rect>
                        </clipPath>
                        </defs>
                    </svg>
                .ind-description__block-title О компании
                .ind-description__block-banner 
                    img(src="./img/index/bannersd.png", alt="img")
                .ind-description__block-text 
                    .ind-description__block-text-items ООО «ЛЭМ» выполняет полный комплекс инжиниринговых услуг по управлению проектами при строительстве и реконструкции трансформаторных подстанций, распределительных устройств, кабельных сетей и воздушных линий электропередач классом напряжения 10-750 кВ с применением собственных производственных сил.
                    .ind-description__block-text-items ООО «ЛЭМ» выполняет полный комплекс инжиниринговых услуг по управлению проектами при строительстве и реконструкции трансформаторных подстанций, 
                .ind-description__block-add ООО «ЛЭМ» выполняет Направления деятельности
                .ind-description__block-slider 
                    .swiper.indexDescriptionSlider
                        .swiper-wrapper
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-1.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-2.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-3.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-4.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-1.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-2.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-3.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-4.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                            .swiper-slide 
                                .ind-description__block-slider-items 
                                    img(src="./img/index/desc-1.png", alt="img")
                                    .ind-description__block-slider-items-text 
                                        p Трансформаторные подстанции 10-750 кВ
                    .swiper-controls 
                        .swiper-button-next
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7C0.447715 7 4.82823e-08 7.44772 0 8C-4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM57.7071 8.70711C58.0976 8.31659 58.0976 7.68342 57.7071 7.2929L51.3431 0.928937C50.9526 0.538412 50.3195 0.538412 49.9289 0.928936C49.5384 1.31946 49.5384 1.95263 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM1 9L57 9L57 7L1 7L1 9Z" fill="white"/>
                            </svg>
                        .swiper-button-prev
                            <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928933C7.68054 0.538408 7.04738 0.538408 6.65685 0.928933L0.292893 7.29289ZM57 9C57.5523 9 58 8.55229 58 8C58 7.44772 57.5523 7 57 7L57 9ZM1 9L57 9L57 7L1 7L1 9Z" fill="white"/>
                            </svg>
                        .swiper-pagination
                        .swiper-scrollbar

    section.ind-object 
        .ind-object__block 
            .containers 
                .ind-object__block-title Наши объекты
            .containers 
                .ind-object__block-line
            .ind-object__block-imgs
                .ind-object__block-img 
                    img(src="./img/index/obj-1.png", alt="img")
                    .ind-object__block-img-text КС 500 Ростовская
                .ind-object__block-img 
                    img(src="./img/index/obj-2.png", alt="img")
                    .ind-object__block-img-text КС 500 Ростовская
                .ind-object__block-img 
                    img(src="./img/index/obj-3.png", alt="img")
                    .ind-object__block-img-text КС 500 Ростовская

    section.ind-maps 
        .ind-maps__block 
            .ind-maps__block-title География наших объектов
            .ind-maps__block-line 
        .ind-maps__content 

    section.ind-objects 
        .ind-objects__slider 
            .swiper.indexObjectsSlider
                .swiper-wrapper
                    .swiper-slide 
                        .ind-objects__slider-items 
                            .ind-objects__slider-items-banner 
                                img(src="./img/index/objs-1.png", alt="img")
                            .ind-objects__slider-items-title Фото объектов
                    .swiper-slide 
                        .ind-objects__slider-items 
                            .ind-objects__slider-items-banner 
                                img(src="./img/index/objs-1.png", alt="img")
                            .ind-objects__slider-items-title Фото объектов
                    .swiper-slide 
                        .ind-objects__slider-items 
                            .ind-objects__slider-items-banner 
                                img(src="./img/index/objs-1.png", alt="img")
                            .ind-objects__slider-items-title Фото объектов
                    
            .swiper-controls
                .swiper-button-next
                    <svg width="166" height="24" viewBox="0 0 166 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5L2 10.5ZM165.061 13.0607C165.646 12.4749 165.646 11.5251 165.061 10.9394L155.515 1.39341C154.929 0.807625 153.979 0.807625 153.393 1.39341C152.808 1.9792 152.808 2.92895 153.393 3.51473L161.879 12L153.393 20.4853C152.808 21.0711 152.808 22.0208 153.393 22.6066C153.979 23.1924 154.929 23.1924 155.515 22.6066L165.061 13.0607ZM2 13.5L164 13.5L164 10.5L2 10.5L2 13.5Z" fill="white"/>
                    </svg>
                .swiper-button-prev
                    <svg width="166" height="24" viewBox="0 0 166 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M164 10.5C164.828 10.5 165.5 11.1716 165.5 12C165.5 12.8284 164.828 13.5 164 13.5L164 10.5ZM0.939346 13.0607C0.353546 12.4749 0.353546 11.5251 0.939346 10.9394L10.4853 1.39341C11.0711 0.807625 12.0208 0.807625 12.6066 1.39341C13.1924 1.9792 13.1924 2.92895 12.6066 3.51473L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.939346 13.0607ZM164 13.5L2 13.5L2 10.5L164 10.5L164 13.5Z" fill="white"/>
                    </svg>
                .swiper-pagination

    section.ind-reward
        .ind-reward__block 
            .ind-reward__block-banner 
                img(src="./img/index/trikolor.png", alt="img")
            .ind-reward__block-title Награды и грамоты
            .ind-reward__block-line 
            .ind-reward__block-slider 
                .swiper.indexSliderReward
                    .swiper-wrapper
                        .swiper-slide 
                            .ind-reward__block-slider-items 
                                .ind-reward__block-slider-items-banner
                                    img(src="./img/index/reward-1.png", alt="img")
                                .ind-reward__block-slider-items-text 
                                    h3 БЛАГОДАРНОСТЬ
                                    p Правительство Российской Федерации
                        .swiper-slide 
                            .ind-reward__block-slider-items 
                                .ind-reward__block-slider-items-banner
                                    img(src="./img/index/reward-2.png", alt="img")
                                .ind-reward__block-slider-items-text 
                                    h3 БЛАГОДАРНОСТЬ
                                    p Правительство Российской Федерации
                        .swiper-slide 
                            .ind-reward__block-slider-items 
                                .ind-reward__block-slider-items-banner
                                    img(src="./img/index/reward-3.png", alt="img")
                                .ind-reward__block-slider-items-text 
                                    h3 БЛАГОДАРНОСТЬ
                                    p Правительство Российской Федерации
                        .swiper-slide 
                            .ind-reward__block-slider-items 
                                .ind-reward__block-slider-items-banner
                                    img(src="./img/index/reward-4.png", alt="img")
                                .ind-reward__block-slider-items-text 
                                    h3 БЛАГОДАРНОСТЬ
                                    p Правительство Российской Федерации
                        .swiper-slide 
                            .ind-reward__block-slider-items 
                                .ind-reward__block-slider-items-banner
                                    img(src="./img/index/reward-5.png", alt="img")
                                .ind-reward__block-slider-items-text 
                                    h3 БЛАГОДАРНОСТЬ
                                    p Правительство Российской Федерации
                        .swiper-slide 
                            .ind-reward__block-slider-items 
                                .ind-reward__block-slider-items-banner
                                    img(src="./img/index/reward-1.png", alt="img")
                                .ind-reward__block-slider-items-text 
                                    h3 БЛАГОДАРНОСТЬ
                                    p Правительство Российской Федерации
                        .swiper-slide 
                            .ind-reward__block-slider-items 
                                .ind-reward__block-slider-items-banner
                                    img(src="./img/index/reward-2.png", alt="img")
                                .ind-reward__block-slider-items-text 
                                    h3 БЛАГОДАРНОСТЬ
                                    p Правительство Российской Федерации
                .swiper-controls 
                    .swiper-button-next
                        <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 7C0.447715 7 4.82823e-08 7.44772 0 8C-4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM57.7071 8.70711C58.0976 8.31659 58.0976 7.68342 57.7071 7.2929L51.3431 0.928937C50.9526 0.538412 50.3195 0.538412 49.9289 0.928936C49.5384 1.31946 49.5384 1.95263 49.9289 2.34315L55.5858 8L49.9289 13.6569C49.5384 14.0474 49.5384 14.6805 49.9289 15.0711C50.3195 15.4616 50.9526 15.4616 51.3431 15.0711L57.7071 8.70711ZM1 9L57 9L57 7L1 7L1 9Z" fill="white"/>
                        </svg>
                    .swiper-button-prev
                        <svg width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928933C7.68054 0.538408 7.04738 0.538408 6.65685 0.928933L0.292893 7.29289ZM57 9C57.5523 9 58 8.55229 58 8C58 7.44772 57.5523 7 57 7L57 9ZM1 9L57 9L57 7L1 7L1 9Z" fill="white"/>
                        </svg>

    @@include('components/_process.pug')

    section.ind-career
        .ind-career__block 
            .ind-career__block-banner
                img(src="./img/index/career.png", alt="img")
            .ind-career__block-title Карьера в ЛЭМ

    @@include('components/_footer.pug')

    @@include('components/_menu.pug')

@@include('components/_script.pug')
