block variables
    - var title = 'Новости'

@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.new-process
        .containers 
            .new-process__block 
                .new-process__block-title ПРеСС-ЦЕНТР
                ul.new-process__block-tabs
                    li.new-process__block-tabs-items#newProcessTabs-1.new-process__block-tabs-active
                        p Все публикации
                    li.new-process__block-tabs-items#newProcessTabs-2
                        p Новости
                    li.new-process__block-tabs-items#newProcessTabs-3
                        p Пресс релизы
                    li.new-process__block-tabs-items#newProcessTabs-4
                        p СМИ о нас
                .new-process__block-line 
                ul.new-process__block-list#newProcessTabsList-1
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-1.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Завершено выполнение комплекса работ
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-2.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title АО "СО ЕЭС" завершило испытания  для включения в работу ВЛ 500 кВ Донская
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-3.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                ul.new-process__block-list.display-n#newProcessTabsList-2
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-1.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Завершено выполнение комплекса работ
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-3.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title АО "СО ЕЭС" завершило испытания  для включения в работу ВЛ 500 кВ Донская
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-3.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                ul.new-process__block-list.display-n#newProcessTabsList-3
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-3.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Завершено выполнение комплекса работ
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-1.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title АО "СО ЕЭС" завершило испытания  для включения в работу ВЛ 500 кВ Донская
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-1.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-1.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-2.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                ul.new-process__block-list.display-n#newProcessTabsList-4
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-1.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Завершено выполнение комплекса работ
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-2.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title АО "СО ЕЭС" завершило испытания  для включения в работу ВЛ 500 кВ Донская
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
                    a.new-process__block-list-items(href="detail.html")
                        .new-process__block-list-items-img 
                            img(src="./img/index/process-3.png", alt="img")
                        .new-process__block-list-items-text
                            .new-process__block-list-items-text-title Успешно и в поставленные сроки завершен комплекс работ по выполнению СМР
                            .new-process__block-list-items-text-add 
                                h3 11 декабря 2021
                                p Новости
            .new-process__btns 
                button.new-process__btns-add 
                    p ЕЩЕ ОбъектЫ

    @@include('components/_footer.pug')

    @@include('components/_menu.pug')

@@include('components/_script.pug')