block variables
    - var title = 'Наши объекты'

@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.objs-header 
        .objs-header__banner.wow.fadeInRight.animated(data-wow-delay="0.8s")
            img(src="./img/objects/banners.png", alt="img")
        .containers 
            .objs-header__block
                .objs-header__block-title.wow.fadeInLeft.animated(data-wow-delay="0.8s") Наши объекты
                .objs-header__block-text.wow.fadeInLeft.animated(data-wow-delay="1.2s") Объекты ООО «ЛЭМ» успешно реализованные по всей территории Российской Федерации имеющие стратегическое значение для успешного развития страны: 

    section.objs-map 
        .objs-map__text 
            .containers
                .objs-map__text-title.wow.fadeInUp.animated(data-wow-delay="0.8s") География наших объектов
                .objs-map__text-line.wow.fadeInUp.animated(data-wow-delay="1.2s")  
        .objs-map__block 
    
    section.objs-content 
        .objs-content__block 
            .objs-content__block-title.wow.fadeInUp.animated(data-wow-delay="0.8s") Электрические подстанции
            .objs-content__block-line.wow.fadeInUp.animated(data-wow-delay="0.8s") 
        a.objs-content__description(href="object.html")
            .objs-content__description-list 
                .objs-content__description-text.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                    h3 ВЛ 500 кВ  "Ростовская АЭС - ПС Ростовская" (297 км)
                    p Разработка РД, выполнение СМР, ПНР, поставка МТРиО
                .objs-content__description-line.wow.fadeInUp.animated(data-wow-delay="1s")
                .objs-content__description-customer.wow.fadeInRight.animated(data-wow-delay="1.2s")
                    h3 Заказчик:
                    p АО «ЦИУС ЕЭС» - ЦИУС ЮГА
                .objs-content__description-icons.wow.fadeInRight.animated(data-wow-delay="0.8s")    
                    img(src="./img/objects/icons.png", alt="img")
        .objs-content__photo 
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/img-1.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/img-2.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/img-3.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/img-4.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/img-5.png", alt="img")
        
        a.objs-content__description(href="object.html") 
            .objs-content__description-list 
                .objs-content__description-text.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                    h3 ВЛ 500 кВ  "Ростовская АЭС - ПС Ростовская" (297 км)
                    p Разработка РД, выполнение СМР, ПНР, поставка МТРиО
                .objs-content__description-line.wow.fadeInUp.animated(data-wow-delay="1s")
                .objs-content__description-customer.wow.fadeInRight.animated(data-wow-delay="1.2s")
                    h3 Заказчик:
                    p АО «ЦИУС ЕЭС» - ЦИУС ЮГА
                .objs-content__description-icons.wow.fadeInRight.animated(data-wow-delay="0.8s")    
                    img(src="./img/objects/icons.png", alt="img")
        .objs-content__photo 
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-1.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-2.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-3.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-4.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-5.png", alt="img")
        

        a.objs-content__description(href="object.html") 
            .objs-content__description-list 
                .objs-content__description-text.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                    h3 ВЛ 500 кВ  "Ростовская АЭС - ПС Ростовская" (297 км)
                    p Разработка РД, выполнение СМР, ПНР, поставка МТРиО
                .objs-content__description-line.wow.fadeInUp.animated(data-wow-delay="1s")
                .objs-content__description-customer.wow.fadeInRight.animated(data-wow-delay="1.2s")
                    h3 Заказчик:
                    p АО «ЦИУС ЕЭС» - ЦИУС ЮГА
                .objs-content__description-icons.wow.fadeInRight.animated(data-wow-delay="0.8s")    
                    img(src="./img/objects/icons.png", alt="img")
        .objs-content__photo 
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-1.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-2.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-3.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-4.png", alt="img")
            a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                img(src="./img/objects/imgs-5.png", alt="img")
        .objs-content__wrappers.display-n
            a.objs-content__description(href="object.html") 
                .objs-content__description-list 
                    .objs-content__description-text.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                        h3 ВЛ 500 кВ  "Ростовская АЭС - ПС Ростовская" (297 км)
                        p Разработка РД, выполнение СМР, ПНР, поставка МТРиО
                    .objs-content__description-line.wow.fadeInUp.animated(data-wow-delay="1s")
                    .objs-content__description-customer.wow.fadeInRight.animated(data-wow-delay="1.2s")
                        h3 Заказчик:
                        p АО «ЦИУС ЕЭС» - ЦИУС ЮГА
                    .objs-content__description-icons.wow.fadeInRight.animated(data-wow-delay="0.8s")    
                        img(src="./img/objects/icons.png", alt="img")
            .objs-content__photo 
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-1.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-2.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-3.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-4.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-5.png", alt="img")
            a.objs-content__description(href="object.html") 
                .objs-content__description-list 
                    .objs-content__description-text.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                        h3 ВЛ 500 кВ  "Ростовская АЭС - ПС Ростовская" (297 км)
                        p Разработка РД, выполнение СМР, ПНР, поставка МТРиО
                    .objs-content__description-line.wow.fadeInUp.animated(data-wow-delay="1s")
                    .objs-content__description-customer.wow.fadeInRight.animated(data-wow-delay="1.2s")
                        h3 Заказчик:
                        p АО «ЦИУС ЕЭС» - ЦИУС ЮГА
                    .objs-content__description-icons.wow.fadeInRight.animated(data-wow-delay="0.8s")    
                        img(src="./img/objects/icons.png", alt="img")
            .objs-content__photo 
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-1.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-2.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-3.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-4.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-5.png", alt="img")
            a.objs-content__description(href="object.html") 
                .objs-content__description-list 
                    .objs-content__description-text.wow.fadeInLeft.animated(data-wow-delay="0.8s")
                        h3 ВЛ 500 кВ  "Ростовская АЭС - ПС Ростовская" (297 км)
                        p Разработка РД, выполнение СМР, ПНР, поставка МТРиО
                    .objs-content__description-line.wow.fadeInUp.animated(data-wow-delay="1s")
                    .objs-content__description-customer.wow.fadeInRight.animated(data-wow-delay="1.2s")
                        h3 Заказчик:
                        p АО «ЦИУС ЕЭС» - ЦИУС ЮГА
                    .objs-content__description-icons.wow.fadeInRight.animated(data-wow-delay="0.8s")    
                        img(src="./img/objects/icons.png", alt="img")
            .objs-content__photo 
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-1.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-2.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-3.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-4.png", alt="img")
                a.objs-content__photo-items(href="object.html").wow.fadeInUp.animated(data-wow-delay="1.2s")
                    img(src="./img/objects/imgs-5.png", alt="img")
        
        .objs-content__btns.wow.fadeInUp.animated(data-wow-delay="1.2s")
            button.objs-content__btns-items ЕЩЕ ОбъектЫ



    @@include('components/_footer.pug')

    @@include('components/_menu.pug')

@@include('components/_script.pug')