.objs-header {
    width: 100%;
    padding: 213px 0 0 0;
    height: 625px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/objects/banner-1.png) no-repeat;
        background-size: cover;
        z-index: -5;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 49, 105, 0.7);
        z-index: -3;
    }
    & .containers {
        padding: 0 90px;
    }
    &__banner {
        position: absolute;
        width: 724px;
        height: 412px;
        overflow: hidden;
        bottom: 0;
        right: 0;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-title {
            font-family: RF Dewi;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 43px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-text {
            margin: 66px 0 0 0;
            width: 437px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}
.objs-map {
    width: 100%;
    height: 801px;
    background: #002045;
}
.objs-content {
    position: relative;
    background: #003169;
    padding: 0 0 230px 0;
    &__block {
        width: 100%;
        padding: 155px 0 0 0;
        background: #003169;
        &-title {
            margin: 0 auto;
            text-align: center;
            font-family: RF Dewi;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 43px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-line {
            width: 100%;
            height: 1px;
            position: relative;
            padding: 34px 0 42px 0;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 1264px;
                height: 0px;
                border-top: 1px solid #0057B6;
            }
        }
    }
    &__description {
        width: 100%;
        padding: 45px 0;
        &:nth-child(odd) {
            background: #004A9F;
        }
        &:nth-child(even) {
            background: #002045;
        }
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1440px;
            width: 100%;
            padding: 0 90px;
            margin: 0 auto;
        }
        &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 579px;
            & h3 {
                font-family: RF Dewi;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 43px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            & p {
                margin: 20px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 31px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
        &-line {
            width: 1px;
            height: 136px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-left: 1px solid #0057B6;
                width: 100%;
                height: 100%;
            }
        }
        &-customer {
            width: 324px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            & h3 {
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 31px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            & p {
                margin: 14px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 31px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
    &__photo {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "objsPhoto-1 objsPhoto-1 objsPhoto-1 objsPhoto-2 objsPhoto-2 objsPhoto-2"
                            "objsPhoto-3 objsPhoto-3 objsPhoto-4 objsPhoto-4 objsPhoto-5 objsPhoto-5";
        width: 100%;
        &-items {
            width: 100%;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:nth-child(1) {
                grid-area: objsPhoto-1;
                height: 619px;
            }
            &:nth-child(2) {
                grid-area: objsPhoto-2;
                height: 619px;
            }
            &:nth-child(3) {
                grid-area: objsPhoto-3;
                height: 417px;
            }
            &:nth-child(4) {
                grid-area: objsPhoto-4;
                height: 417px;
            }
            &:nth-child(5) {
                grid-area: objsPhoto-5;
                height: 417px;
            }
        }
    }
    &__video {
        width: 100%;
        position: relative;
        height: 460px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 49, 105, 0.7);
        }
        &-btn {
            width: 91px;
            height: 91px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background: transparent;
            cursor: pointer;
            top: 50%;
            left: 50%;
            z-index: 5;
            transform: translate(-50%, -50%);
        }
    }
}